<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544497183211-mlq5aksp3hablp69j6aaheroclqo5vgh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544497183211-mlq5aksp3hablp69j6aaheroclqo5vgh</string>
	<key>API_KEY</key>
	<string>AIzaSyDgC1Mf3bac5MaEjUmtnWXS9hBJby9yhT8</string>
	<key>GCM_SENDER_ID</key>
	<string>544497183211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.kboy.coriander</string>
	<key>PROJECT_ID</key>
	<string>coriander-app</string>
	<key>STORAGE_BUCKET</key>
	<string>coriander-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544497183211:ios:8077cc2b9b8b0d7e9691ae</string>
	<key>DATABASE_URL</key>
	<string>https://coriander-app.firebaseio.com</string>
</dict>
</plist>